body {
  font-family: 'Courier';
  margin: 0;
  text-align: center;
  color: #293c4b;
}

td {
  width: 50px;
  height: 50px;
  font-size: 36px;
}

td.dot {
  cursor: pointer;
}

td.dot.selected {
  font-size: 42px;
  color: red;
}

td.dot.adjacent {
  border: 1px solid;
}
